@theme {
	--color-red-50: #feeded;
	--color-red-100: #fddadc;
	--color-red-200: #fbb4b8;
	--color-red-300: #fa8b92;
	--color-red-400: #f96162;
	--color-red-500: #e61e3c;
	--color-red-600: #ba162f;
	--color-red-700: #8f0e21;
	--color-red-800: #650715;
	--color-red-900: #3f0309;
	--color-red-950: #2b0105;
	--color-green-50: #ccffe5;
	--color-green-100: #86ffc9;
	--color-green-200: #0ff1ab;
	--color-green-300: #0cd899;
	--color-green-400: #09c389;
	--color-green-500: #07ab78;
	--color-green-600: #04885f;
	--color-green-700: #026445;
	--color-green-800: #01452e;
	--color-green-900: #002517;
	--color-green-950: #00180d;
	--color-blue-50: #e6f2ff;
	--color-blue-100: #d2e8ff;
	--color-blue-200: #97cffe;
	--color-blue-300: #46bafe;
	--color-blue-400: #0d9fe0;
	--color-blue-500: #0987bf;
	--color-blue-600: #056a97;
	--color-blue-700: #035074;
	--color-blue-800: #013650;
	--color-blue-900: #012031;
	--color-blue-950: #00131f;
	--color-yellow-50: #fff8f1;
	--color-yellow-100: #fff2e2;
	--color-yellow-200: #fee4c1;
	--color-yellow-300: #fed79b;
	--color-yellow-400: #feca67;
	--color-yellow-500: #fabe23;
	--color-yellow-600: #c39419;
	--color-yellow-700: #906c0f;
	--color-yellow-800: #614707;
	--color-yellow-900: #352502;
	--color-yellow-950: #201601;
	--color-neutral-50: #f5f5fa;
	--color-neutral-100: #eaecf0;
	--color-neutral-200: #d5d9e1;
	--color-neutral-300: #c1c6d2;
	--color-neutral-400: #acb4c3;
	--color-neutral-500: #96a0b4;
	--color-neutral-600: #707e99;
	--color-neutral-700: #535e74;
	--color-neutral-800: #373f4d;
	--color-neutral-900: #1c1f27;
	--color-neutral-950: #141923;
}
