node_modules/
dist/
coverage/
.env
.env.local
.env.*.local
.DS_Store
*.local
*.tsbuildinfo

# API (backend)
apps/api/generated/prisma/
apps/api/uploads/

# Miniapp (client)
apps/miniapp/deploy_versions/
apps/miniapp/.temp/
apps/miniapp/.rn_temp/
apps/miniapp/.swc

# Admin
apps/admin/.nitro
apps/admin/.tanstack
apps/admin/.wrangler
apps/admin/.output
apps/admin/.vinxi
apps/admin/__unconfig*
apps/admin/todos.json

# Packages
packages/*/dist/
