ignore-engines=true
public-hoist-pattern[]=@tarojs/*
public-hoist-pattern[]=@babel/*
public-hoist-pattern[]=babel-*
public-hoist-pattern[]=webpack*
public-hoist-pattern[]=@pmmmwh/*
public-hoist-pattern[]=react-refresh*
public-hoist-pattern[]=weapp-tailwindcss*
public-hoist-pattern[]=@nutui/*
